nav#post-nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
  z-index: 1;
}

button.back-button {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  background-color: rgb(0, 0, 0, 0);
  fill: white;
  border: none;
  cursor: pointer;
}

span#post {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  margin-left: 25px;
}

/* 500px breakpoint /////////////////////////////////////////// */

@media screen and (min-width: 31.25em) {
  nav#post-nav {
    height: 50px;
    left: auto;
    margin-left: 60px;
  }
}

/* 700px breakpoint /////////////////////////////////////////// */

@media screen and (min-width: 43.75em) {
  nav#post-nav {
    width: 640px;
    right: calc(50% - 350px);
    margin-left: 0px;
  }
}
