nav#side-nav {
  display: none;
}

/* /////////////////////////////////////////////////////////////////////
 */

@media screen and (min-width: 31.25em) {
  /* Stylings for the SideNav Component */
  nav#side-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    border-right: 1px solid #2f3336;
    border-top: none;
    height: 100vh;
    width: 60px;
  }

  div#side-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 80%;
    width: inherit;
    padding: 50px 0 0 0;
  }

  div#side-nav-wrapper button {
    background-color: transparent;
    border: none;
    height: 25px;
    width: 25px;
  }

  nav#side-nav button svg {
    fill: #e7e9ea;
  }

  button#more-options-button {
    display: block;
  }

  button#profile-button {
    display: block;
  }

  button#compose-button {
    display: none;
  }

  button#communities-button {
    display: none;
  }

  div#side-nav-wrapper button span {
    display: none;
  }

  .side-nav-profile-image {
    display: block;
    border-radius: 20px;
  }

  div#side-nav-handle-container {
    display: none;
  }

  .three-dots-icon {
    display: none;
  }
}

/* ///////////////////////////////////////////////////////////////////// */

@media screen and (min-width: 75em) {
  /* Stylings for the SideNav Component */

  nav#side-nav {
    flex-direction: column;
    justify-content: space-between;
    left: calc(50% - 591px);
    width: 300px;
  }

  div#side-nav-wrapper {
    padding-top: 70px;
    align-items: flex-start;
  }

  div#side-nav-wrapper button {
    display: flex;
    height: 25px;
    align-items: center;
    width: max-content;
  }

  div#side-nav-wrapper button svg {
    width: 25px;
    margin-right: 15px;
  }

  div#side-nav-wrapper button span {
    display: block;
    font-size: 24px;
    color: #eff3f4;
  }

  div#side-profile-container {
    display: flex;
  }

  .side-nav-profile-image {
    position: relative;
    bottom: 0px;
    margin-right: 10px;
  }

  div#side-profile-container .three-dots-icon {
    margin-left: 40px;
    fill: #eff3f4;
    width: 20px;
  }

  div#side-nav-handle-container {
    display: block;
  }

  div#side-nav-handle-container div#user-account-name {
    display: block;
    color: #6e767d;
  }

  .three-dots-icon {
    display: block;
  }
}
