fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]
email-validator
python-jose
pydantic_settings
pydantic_extra_types
phonenumbers
python-multipart
alembic
fastapi_mail
aiosmtplib
email-validator