div#home-body{
  position: relative;
  display: flex;
  max-width: 700px;
}


section#posts-section {
  margin-top: 100px;
  border-right: 1px solid #2f3336;
}

/* //////////////////////////////////////////////////// */

@media screen and (min-width: 31.25em) {
  section#posts-section {
    margin-left: 60px;
    margin-top: 50px;
  }
}

