
/* Stylings for the HomeNav Component */


nav#home-nav {
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #2f3336;
  background-color: rgb(0, 0, 0, 0.8);
  backdrop-filter: blur(50px);
  z-index: 2;
}

div#menu-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  padding: 0 20px;
}

div#menu-container #menu-image {
  height: 40px;
  width: 40px;
}

.profile-image{
  object-fit: cover;
  border-radius: 30px;
}

div#menu-container #logo {
  position: fixed;
  left: 50%;
}

div#for-follow-tabs {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

div#for-follow-tabs button {
  width: 50%;
  height: 50px;
  font-size: 0.9em;
  font-weight: 550;
  background-color: transparent;
  color: #e7e9ea;
  border: none;
}

div#tweet-card {
  margin-top: 100px;
  padding: 10px 0;
  border-bottom: 1px solid #2f3336;
}

div#profile-info {
  display: flex;
  place-items: center;
  padding-left: 15px;
}

div#profile-info #profile-image {
  height: 40px;
  width: 40px;
  border-radius: 30px;
  background-color: orangered;
}

div#profile-info #handle-container {
  margin-left: 5px;
}

div#handle-container #user-name{
  font-weight: 600;
}

div#handle-container #user-account-name{
  margin-top: 2px;
  color: #6E767D;
}

div#profile-info button {
  position: absolute;
  color: #6E767D;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  border: none;
  right: 0;
  margin-right: 20px;
}



/* Stylings for the TweetCard Component */



p#tweet-message{
  font-size: .95em;
  line-height: 20px;
  margin-left: 60px;
  margin-top: 8px;
}

div#tweet-interactions{
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
  margin-top: 15px;
}

div#tweet-interactions div{
  width: 40px;
}

div#tweet-interactions svg{
  fill:#6E767D;
  height: 20px;
  width: 20px;
}



/* Stylings for the HomeFooterNav Component */



nav#home-footer-nav{
  display: flex;
  justify-content: space-around;
  place-items: center;
  position: fixed;
  border-top: 1px solid #2f3336;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100vw;
}

nav#home-footer-nav button{
  background-color: transparent;
  border: none;
  height: 25px;
  width: 25px;
}

nav#home-footer-nav button svg{
  fill: #e7e9ea;
}



/* Stylings for the SideNav Component */


nav#side-nav{
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 15px;
  height: 100vh;
  width: 290px;
  background-color: #000000;
  border-right: .5px solid #6E767D;
  z-index: 3;
}

div#menu-lists{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

div#following-followers-container{
  margin-top: 10px;
}

div#following-followers-container button{
  background-color: transparent;
  color: #6E767D;
  width: 100px;
  border: none;
  text-align: left;
}

div#menu-lists button{
  display: flex;
  background-color: transparent;
  place-items: center;
  color: #e7e9ea;
  font-size: 1.3em;
  font-weight: 600;
  text-align: left;
  margin: 15px 0;
  border: none;

}

div#menu-lists button svg{
  margin-right: 20px;
  height: 30px;
  width: 30px;
  fill: #e7e9ea;
 
}




/* .sign-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 80px;
  width: 400px;
}

h1{
  font-size: 40px;
}

h2{
  margin-top: 40px;
  margin-bottom: 15px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

input{
  margin: 5px 0;
  height: 30px;
  width: 200px;
  text-align: center;
  border-radius: 15px;
}

div.divider{
  display: flex;
  align-items: center;
  margin-top: 5px;
}

hr{
  width: 150px;
}


button{
  margin-top: 10px;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  cursor: pointer;
}

button.create-account{
  margin-top: 10px;
  background-color: rgb(40, 40, 143);
  color: white;
}

p.terms{
  font-size: 13px;
  width: 250px;
  margin: auto;
  padding-top: 5px;
  text-align: center;
}

p.already-para{
  margin-top: 50px;
}

button.sign-in{
  margin-top: 10px;
  background-color: transparent;
  color: blue;
} */
