div#sign-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 40px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 15px;
}

input {
  margin: 5px 0;
  text-align: center;
  height: 42px;
  width: 300px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

div.divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px 0;
  color: #6E767D;
}

div.divider div {
  width: 130px;
  border-top: .01px solid #6E767D;

}


.create-account {
  display: flex;
  place-content: center;
  place-items: center;
  height: 50px;
  width: 300px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #1DA1F2;
  color: #E7E9EA;
}

p.terms {
  font-size: 11px;
  width: 250px;
  color: #6E767D;
  padding-top: 5px;
  text-align: center;
}

p.terms a {
  color: #1DA1F2;
}

p.already-para {
  margin-top: 50px;
}

.sign-in {
  display: flex;
  place-content: center;
  place-items: center;
  margin-top: 10px;
  height: 50px;
  width: 300px;
  border-radius: 30px;
  background-color: #E7E9EA;
  color: #1DA1F2;
  cursor: pointer;
}
